<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>ПС</title>{% endblock %}
    <link rel="icon" type="image/png" href="{% static 'images/pozh_logo.png' %}" sizes="64x64"/>
    <link rel="stylesheet" href="{% static 'login_page/css/main.css' %}">
</head>
<body>
	<div id="particles-js"></div>
    <div id="page-wrapper">
        <div style="text-align: center;margin-top:30%; background-color: rgba(0,0,0,0); padding-bottom:10px;">
            <img src="{% static 'images/pozh_logo.png' %}" alt="logo" class="icon-massagets" style="width:150px;">
        </div>
        <div class="login-container">
            {% if form.errors %}
            <h1 style="color:red; margin-bottom:0;">Ваш логин или пароль не совпадают.</h1>
            {% endif %}
            <h1>Вход в систему</h1>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div>
                  <td><p>Имя пользователя:</p></td>
                  <td>{{ form.username }}</td>
                </div>
                <div>
                  <td><p>Пароль:</p></td>
                  <td>{{ form.password }}</td>
                </div>
                <div>
                  <input type="submit" value="Login" />
                </div>
            </form>
        </div>
    </div>

<script src="{% static 'jquery/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'javascript/assets/particles.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        /* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
        particlesJS.load('particles-js', '{% static "javascript/assets/config.json" %}', function() {
          console.log('callback - particles.js config loaded');
        });
    });
</script>
</body>
</html>