<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>ПС</title>{% endblock %}
    <link rel="icon" type="image/png" href="{% static 'images/border.png' %}" sizes="64x64"/>
    <link rel="stylesheet" href="{% static 'login_page/css/main.css' %}">
</head>
<body>
	<div id="particles-js"></div>
    <div id="page-wrapper">
        <div style="text-align: center;margin-top:30%; background-color: rgba(0,0,0,0); padding-bottom:10px;">
            <img src="{% static 'images/border.png' %}" alt="logo" class="icon-massagets" style="width:150px;">
        </div>
        <div class="login-container">
            <h1>Смена пароля</h1>
            <form method="post" action="{% url 'password_change' %}">
                {% csrf_token %}
                <div>
                  <td><p>Текущий пароль:</p></td>
                  <td>{{ form.old_password }}</td>
                </div>
                <div>
                  <td><p>Новый пароль:</p></td>
                  <td>{{ form.new_password1 }}</td>
                </div>
                <div>
                  <td><p>Повторите новый пароль:</p></td>
                  <td>{{ form.new_password2 }}</td>
                </div>
                {% if form.errors %}
                    {% for error in form.old_password.errors %}
                         <p style="color:red; margin-bottom:0;">{{ error }}</p>
                    {% endfor %}
                    {% for error in form.new_password1.errors %}
                         <p style="color:red; margin-bottom:0;">{{ error }}</p>
                    {% endfor %}
                    {% for error in form.new_password2.errors %}
                         <p style="color:red; margin-bottom:0;">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                <div>
                  <input type="submit" value="Сменить пароль" />
                </div>
            </form>
        </div>
    </div>

<script src="{% static 'jquery/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'javascript/assets/particles.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        /* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
        particlesJS.load('particles-js', '{% static "javascript/assets/config.json" %}', function() {
          console.log('callback - particles.js config loaded');
        });
    });
</script>
</body>
</html>