{% extends "application/0_index.html" %}

{% block title %}Карта{% endblock %}
{% load static %}
{% block header_link %}
<script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
<style>
* {
  box-sizing: border-box;
}

/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
  width: -webkit-fill-available;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}
#container_map {
        width: -webkit-fill-available;
        height: 700px;
    }

</style>

{% endblock %}
{% block content %}
<div class="container">
<div class="row">
    <div class="col">
        <!--Make sure the form has the autocomplete function switched off:-->
        <form autocomplete="off">
          <div class="autocomplete">
            <input id="inputAddress" type="text" name="inputAddress" class="form-control" placeholder="Адрес">
          </div>
        </form>
        <div id="container_map"></div>
    </div>
</div>

</div>
{% endblock %}
{% block js %}
    <script>
    $(document).ready(function(){
    // 2 gis map
    var map;

    DG.then(function () {
        map = DG.map('container_map', {
            center: [ 51.141121, 71.413373],
            zoom: 13
        });
        DG.marker([51.141121, 71.413373]).addTo(map);
    });

    function autocomplete(inp) {
      /*the autocomplete function takes two arguments,
      the text field element and an array of possible autocompleted values:*/
      let currentFocus;
      /*execute a function when someone writes in the text field:*/
      inp.addEventListener("input", function(e) {
          var a, b, i, val = this.value;
          var node = this;
          /*close any already open lists of autocompleted values*/
          closeAllLists();
          if (!val) { return false;}
          currentFocus = -1;

          // api request to 2gis search places
          let url_2gis = "https://catalog.api.2gis.com/3.0/suggests?q="+ val +"&sort_point=71.440784,51.120605&suggest_type=address&key=ruvqak4927"
          var request_2gis = {
              "url": url_2gis,
              "method": "GET",
              "timeout": 0,
            };

          $.ajax(request_2gis).done(function (response) {
              let result_2is = [];
              if ('result' in response){
                  for(i=0; i<response.result.items.length; i++){
                      result_2is.push([response.result.items[i].full_name, response.result.items[i].id]);
                        //if ('address_name' in response.result.items[i]){
                        //   result_2is.push(response.result.items[i].address_name);
                        //} else{
                        //    result_2is.push(response.result.items[i].full_name
                        //    );
                        //}
                  }
              }

             /*create a DIV element that will contain the items (values):*/
              a = document.createElement("DIV");
              a.setAttribute("id", node.id + "autocomplete-list");
              a.setAttribute("class", "autocomplete-items");
              /*append the DIV element as a child of the autocomplete container:*/
              node.parentNode.appendChild(a);
              /*Results length*/
              let result_length = 0
              /*for each item in the array...*/
              for (i = 0; i < result_2is.length; i++) {
               /*check if the item starts with the same letters as the text field value:*/

                  if (result_length < 5) {
                   result_length += 1
                   /*create a DIV element for each matching element:*/
                   b = document.createElement("DIV");
                   b.innerHTML = result_2is[i][0];

                   /*insert a input field that will hold the current array item's value:*/
                   b.innerHTML += "<input type='hidden' id='"+ result_2is[i][1] +"' value='" + result_2is[i][0] + "'>";
                   /*execute a function when someone clicks on the item value (DIV element):*/
                   b.addEventListener("click", function(e) {
                       /*insert the value for the autocomplete text field:*/
                       inp.value = this.getElementsByTagName("input")[0].value;
                       /*close the list of autocompleted values,
                       (or any other open lists of autocompleted values:*/
                       closeAllLists();
                   });
                 a.appendChild(b);
                 }
              }
            });



    });
      /*execute a function presses a key on the keyboard:*/

      inp.addEventListener("keydown", function(e) {
          var x = document.getElementById(this.id + "autocomplete-list");
          if (x) x = x.getElementsByTagName("div");
          if (e.keyCode == 40) {
            /*If the arrow DOWN key is pressed,
            increase the currentFocus variable:*/
            currentFocus++;
            /*and and make the current item more visible:*/
            addActive(x);
          } else if (e.keyCode == 38) { //up
            /*If the arrow UP key is pressed,
            decrease the currentFocus variable:*/
            currentFocus--;
            /*and and make the current item more visible:*/
            addActive(x);
          } else if (e.keyCode === 13) {
            /*If the ENTER key is pressed, prevent the form from being submitted,*/
            e.preventDefault();
            if (currentFocus > -1) {

              /*and simulate a click on the "active" item:*/
              if (x) x[currentFocus].click();
              if (x) {
                   const full_address = x[currentFocus].getElementsByTagName('input')[0].value
                   console.log(full_address);
                   DG.marker([51.125971, 71.446377]).addTo(map);
                   {#var mapDiv = document.getElementById('map');#}
                   console.log(map);
                   map.center = [51.125971, 71.446377];
                   map.zoom = 25;
                   // обновление карты
                   map.invalidateSize();
              }
            }
          }
      });
      function addActive(x) {
        /*a function to classify an item as "active":*/
        if (!x) return false;
        /*start by removing the "active" class on all items:*/
        removeActive(x);
        if (currentFocus >= x.length) currentFocus = 0;
        if (currentFocus < 0) currentFocus = (x.length - 1);
        /*add class "autocomplete-active":*/
        x[currentFocus].classList.add("autocomplete-active");
      }
      function removeActive(x) {
        /*a function to remove the "active" class from all autocomplete items:*/
        for (var i = 0; i < x.length; i++) {
          x[i].classList.remove("autocomplete-active");
        }
      }
      function closeAllLists(elmnt) {
        /*close all autocomplete lists in the document,
        except the one passed as an argument:*/
        var x = document.getElementsByClassName("autocomplete-items");
        for (var i = 0; i < x.length; i++) {
          if (elmnt != x[i] && elmnt != inp) {
            x[i].parentNode.removeChild(x[i]);
          }
        }
      }
  /*execute a function when someone clicks in the document:*/
  document.addEventListener("click", function (e) {
      closeAllLists(e.target);
  });
}

    /*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
    autocomplete(document.getElementById("inputAddress"));

    });
    </script>
{% endblock %}